<header class="fixed w-full h-auto bg-black-bunker p-5 px-10">
    <div class="container mx-auto px-6 sm:px-8 md:px-12 lg:px-16 xl:px-24 flex justify-between items-center">
        <div>
            <p class="font-bold text-xl text-slate-100">Blank Bunker</p>
        </div>
        <div class="flex gap-7 items-center">
            <nav class="hidden lg:flex">
                <div class="text-slate-100 text-md flex gap-5">
                    <a class="hover:text-amarillo-bunker" href="">Nosotros</a>
                    <a class="hover:text-amarillo-bunker" href="">Miembros</a>
                    <a class="hover:text-amarillo-bunker" href="">Videos</a>
                    <a class="hover:text-amarillo-bunker" href="">Reviews</a>
                </div>
            </nav>
            <div class="flex gap-3 hidden md:flex">
                <button class="bg-slate-100 text-black-bunker font-semibold py-2 px-4 rounded-lg hover:bg-amarillo-bunkerh ">
                    Iniciar
                </button>  
                <button class="bg-amarillo-bunker text-black-bunker font-semibold py-2 px-4 rounded-lg hover:bg-amarillo-bunkerh ">
                    Unete
                </button>  
            </div>        
        </div>
    </div>
</header>